.story-card {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(240, 240, 240, 0.25);
}

.story-card h1 {
  font-size: 16px;
  margin: 0 0 0.25rem 0;
}

.story-card a {
  text-decoration: none;
}
.story-card .story-link {
  color: #e67e22;
  /* #dd4b39; */
}

.story-card .story-link:hover {
  text-decoration: underline;
}

.story-card .title {
  font-weight: 500;
}

.story-card .domain {
  filter: brightness(80%);
}

.story-card .story-info {
  color: #bdc3c7;
}

.story-card .author {
  color: hsla(0, 0%, 100%, 0.87);
}

.story-card .author:hover {
  text-decoration: underline;
}

.story-card .comment-img {
  margin-left: 5px;
  margin-bottom: -3px;
}

.space-taker {
  padding: 23px 0;
}
