.App {
  padding: 0 2.5rem;
  margin: 0 auto;
  max-width: 900px;
}

.App h1 {
  margin-bottom: 0.67rem;
}

.App nav {
  margin-bottom: 0;
}

.App .hn-title,
.App nav a.selected,
.App nav a.selected:visited {
  color: #ff6600;
}

.App nav a,
.App nav a:visited {
  color: hsla(0, 0%, 100%, 0.87);
}

.App header {
  display: flex;
  align-items: baseline;
}

.App header > .tagline {
  margin-left: 0.5rem;
}

.stories-container {
  padding-bottom: 4rem;
}

.the-end {
  text-align: center;
  padding-bottom: 2rem;
}

.the-end > a {
  color: hsla(0, 0%, 100%, 0.87);
}

.fadeIn {
  animation-duration: 5s;
  animation-name: fadeIn;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
